<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tickt.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
				<key>dateExpires</key>
				<string>21/04/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JTAppleCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TTTAttributedLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TagCellLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>68C0C8F231E3F1561D5A30E8BFBB9258C33B3B7B</string>
						<key>dateExpires</key>
						<string>21/04/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4ZD8KSM5V7</string>
						<key>name</key>
						<string>TICKT PTY LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4ZD8KSM5V7.com.tickt.app</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Development</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.tickt.app</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>4ZD8KSM5V7</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.tickt.app</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>4ZD8KSM5V7.com.tickt.app</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Tickt.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>267ac047-3cf0-4272-9e2e-97a31d1680be</string>
				<key>name</key>
				<string>TIcktAppDev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4ZD8KSM5V7</string>
				<key>name</key>
				<string>TICKT PTY LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
